.file-header {    
    background-color: #f5f6f7;    
    border-color: #d9d9d9;
    font-size: 11px;
    border: 1px solid #d0d0d0;
    height: 33px;

    .file-header-title {
        padding: 6px 6px 5px 6px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: normal;
        color: #000;
    }
}
.header-menu {
    display: block;
    text-align: center;
    width: 40px;
    height: 69px;
    cursor: pointer;
}
.file-tabs {
    margin-top: 10px;
    height: 80px;
    background-color: #f5f6f7;    
    border-color: #d9d9d9;
    border: 1px solid #d0d0d0;
    display: flex;
    align-items: end;
}

.header-menu-vertical-divider {
    height: 100%;
    padding: 0 10px 0 10px;
}