<!-- <div class=" row p-3">
    <div class="col-sm-12">
      <h4 class="font-size-18 text-muted mt-2 text-center">{{title}}</h4>
      <div class="row mt-4 mb-4" *ngIf="errorMessage">
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </div>      
      </div>
      <form [formGroup]="loginForm" class="form-horizontal">
        <div class="mb-3">
          <label>Username</label>
          <input id="username" type="text" placeholder="Username" formControlName="username" class="form-control"
                 name="username" required autofocus [ngClass]="{ 'is-invalid': submitted && form['username'].errors}"
          />
          <span *ngIf="submitted || form['username'].touched || form['username'].dirty && form['username'].invalid"
                class="info-msg text-danger">
            <small
              *ngIf="form['username'].errors && form['username'].errors?.['required']">This is the required field.</small>
            <small *ngIf="form['username'].errors && form['username'].errors?.['minlength']">Should have at least 4 characters.</small>
          </span>
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input id="password" [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" formControlName="password" class="form-control"
                 name="password" required
                 [ngClass]="{ 'is-invalid': submitted && form['password'].errors}"
                 placeholder="Password" formControlName="password"
          />
          <span (click)="onPasswordToggle()" toggle="#password" class="fa fa-fw field-icon password-toggler" [ngClass]="{ 'fa-eye-slash' : showPassword , 'fa-eye' : !showPassword && form['password']?.value?.length}" ></span>
          <span *ngIf="submitted || form['password'].touched || form['password'].dirty && form['password'].invalid"
                class="info-msg text-danger">
            <small
              *ngIf="form['password'].errors && form['password'].errors?.['required']">This is the required field.</small>
            <small
              *ngIf="form['password'].errors && form['password'].errors?.['minlength']">Should have at least {{passwordLength}}
              characters.</small>
          </span>
        </div>
  
        <div class="row mt-2 mb-2">
          <div class="col-12 text-center">
            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit"
                    (click)="onUserLogin(loginForm.value)"
                    [disabled]="submitted && loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              {{btnStatus}}
            </button>
          </div>
        </div>
      </form>
    </div>
</div> -->

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">  
              <div class="mb-md-5 mt-md-4 pb-5">
                <h4 class="font-size-18 text-muted mt-2 text-center">{{title}}</h4>
                <div class="row mt-4 mb-4" *ngIf="errorMessage">
                    <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>
                    </div>      
                </div>
                <form [formGroup]="loginForm" class="form-horizontal">
                    <div class="mb-3">
                    <label>Username</label>
                    <input id="username" type="text" placeholder="Username" formControlName="username" class="form-control"
                            name="username" required autofocus [ngClass]="{ 'is-invalid': submitted && form['username'].errors}"
                    />
                    <span *ngIf="submitted || form['username'].touched || form['username'].dirty && form['username'].invalid"
                            class="info-msg text-danger">
                        <small
                        *ngIf="form['username'].errors && form['username'].errors?.['required']">This is the required field.</small>
                        <small *ngIf="form['username'].errors && form['username'].errors?.['minlength']">Should have at least 4 characters.</small>
                    </span>
                    </div>
                    <div class="mb-3">
                    <label>Password</label>
                    <input id="password" [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" formControlName="password" class="form-control"
                            name="password" required
                            [ngClass]="{ 'is-invalid': submitted && form['password'].errors}"
                            placeholder="Password" formControlName="password"
                    />
                    <span (click)="onPasswordToggle()" toggle="#password" class="fa fa-fw field-icon password-toggler" [ngClass]="{ 'fa-eye-slash' : showPassword , 'fa-eye' : !showPassword && form['password']?.value?.length}" ></span>
                    <span *ngIf="submitted || form['password'].touched || form['password'].dirty && form['password'].invalid"
                            class="info-msg text-danger">
                        <small
                        *ngIf="form['password'].errors && form['password'].errors?.['required']">This is the required field.</small>
                        <small
                        *ngIf="form['password'].errors && form['password'].errors?.['minlength']">Should have at least {{passwordLength}}
                        characters.</small>
                    </span>
                    </div>
            
                    <div class="row mt-2 mb-2">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit"
                                    (click)="onUserLogin(loginForm.value)"
                                    [disabled]="submitted && loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            {{btnStatus}}
                            </button>
                        </div>
                    </div>
                </form>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  