<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Folder</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="create-new-folder">Enter a name for the new folder:</label>
            <form [formGroup]="createNewFolderForm">
            <input
                id="create-new-folder"
                class="form-control"
                name="create-new-folder"
                formControlName="folderName"
                />
            </form>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="createFolder()">OK</button>
</div>